#pageContent {
	z-index:1;
	position:absolute;
	padding:0;
	top:20vw;
	left:0;
	border-radius:1%;
	margin-left:2%;
	width:96%;
	height:auto;
	background-color:rgba(240,240,240,1);
}

#pageContent section {
	background-color:white;
	padding:2%;
	margin-left:10%;
	margin-right:10%;
	width:auto;
	color:black;
	position:relative;
	font-family: "Verdana", sans-serif;
	font-weight:lighter;
	font-size:100%;
	text-decoration:none;
	text-align:left;
	line-height:1.2;
	box-shadow: -2px -2px 7px 1px rgba(0,0,0,0.4), 2px 2px 7px 1px rgba(0,0,0,0.4);
}

.map-container {
	display: flex;
	margin-top: 2%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}